USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 4/12/2019 2:45:13 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLSV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLSV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[qlsv]    Script Date: 4/12/2019 2:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qlsv](
	[MaSV] [varchar](50) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Khoa] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Diem1] [float] NULL,
	[Diem2] [float] NULL,
	[Diem3] [float] NULL,
	[Diem4] [float] NULL,
 CONSTRAINT [PK_qlsv] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV1', N'Tuan', CAST(N'1999-10-15' AS Date), N' t', N'Nam', 5, 6, 7, 1)
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV12', N'Hoa', CAST(N'1996-07-07' AS Date), N'Van', N'Nữ', 7, 6, NULL, NULL)
INSERT [dbo].[qlsv] ([MaSV], [TenSV], [NgaySinh], [Khoa], [GioiTinh], [Diem1], [Diem2], [Diem3], [Diem4]) VALUES (N'SV3', N'Truong', CAST(N'1998-02-21' AS Date), N'VatLy', N'Nam', 9, 5, 6, 7)
USE [master]
GO
